
.comments {
	padding: 1em;
	border: 2px solid black;
}

.comment {
	border-bottom: 2px dashed black;
}

.comment-head {
	color: red;
}

span {
	word-wrap: break-word;
	max-width: 100%;
}
input {
	margin-top: 1em;
	margin-bottom: 1em;
	display: block;
}